/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

  footer {
    margin-top: 60px;
    bottom: 0;
  }

  .main-visual {
    width: 100%; /* 横幅いっぱい */
    height: 500px; /* 高さ300px */
    background-image: image-url("sample3.jpg");
    background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
    background-position: center; /* 背景画像を中央に配置 */
  }

  .main-visual2 {
    width: 100%; /* 横幅いっぱい */
    height: 700px; /* 高さ */
    background-image: image-url("sample3.jpg");
    background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
    background-position: center; /* 背景画像を中央に配置 */
  }

  .login {
    width: 100%;
    padding-left: 150px;
  }

  .button {
    width: 440px;
  }

  .button-2 {
    width: 360px;
  }

  .button-3 {
    width: 150px;
    border-radius: 100vh;
    margin-left: 25px;
    margin-bottom: 20px;
  }

  .button-4 {
    width: 425px;
  }


  .client-name {
    margin-left: 10px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
  }

  .blog-text {
    text-align: left;
  }